{% extends "pizza/base.html" %} 
{% block content %} 
{% load crispy_forms_tags %}

<form method="post">
  {% csrf_token %}

  <div class="container">
    <div class="row">
      <div class="col m-3 p-3">
        {{ pizzaFormSet.management_form }} {% for pizza in pizzaFormSet %} {{
        pizza.id }} {{ pizza | crispy }}
        <hr />
        {% endfor %}
      </div>
      <div class="col m-3 p-2">
        {{ sauceFormSet.management_form }} {% for sauce in sauceFormSet %} {{
        sauce.id }} {{ sauce | crispy }}
        <hr />
        {% endfor %}
      </div>
    </div>
  </div>

  <input type="submit" value="add" />
</form>

{% endblock content %}
